.grid {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: block;
}
.grid-row {

}
.grid-box {
  width: 49px;
  height: 49px;
  border: 1px solid #ccc;
  text-align: center;
  padding-top: 12px;
  display: block;
  float: left;
}
